.fb-cont {

	.row {
		flex-direction: row;
	}

	.fb-content {
		width: 46.3333%;

		.ms-desc-1 {
			max-width: 83%;
			padding-left: 26.5%;

			@media screen and (max-width: 1366px) {
				max-width: 100%;
			}

			p {
				color: $textFontColor;
			}
		}

		.ms-title-h2 {

			padding-left: 26.5%;

			h2 {

				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				color: $titleFontColor;
				
				span {
					margin-bottom: 1em;
				}

				span:first-child {
					color: $textFontColor;
					font-size: 36px !important;
				}
			}
		}
	}

	.fb-desc {

		.ms-desc-1 {

			display: flex;
			flex-direction: column;
			align-items: flex-end;

			max-width: 50%;

			@media screen and (max-width: 1366px) {
				max-width: 100%;
			}

			p {
				text-align: right;
			}

			a {
				position: relative;
				color: $titleFontColor;
				font-family: "OpanSansRegular";
				font-size: 42px;
				font-weight: 700;
				text-decoration: none;
				text-transform: none;
				
				justify-content: flex-end;
				transition: color 0.7s ease;

				&:before {
					content: "";
					background-color: $lightRedColor;
					position: absolute;
					display: block;
					left: 0;
					bottom: 0;
					height: 2px;
					width: 0%;

					transition: width 0.5s ease-out;
				}

				&:hover {
					color: $textFontColor;

					&:before {
						width: 100%;
					}
				}
			}
		}
	}
}