.l-entry {

	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;

	span {
		position: relative;
		background-color: #d5d5d530;
		color: $textFontColor;
		font-family: "OpenSansRegular";
		font-weight: normal;
		font-size: $bigTextFontSize;
		letter-spacing: -.03em;

		padding: 15px 20px;
		padding-left: 30px;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 3px;
			background-color: $middleBlueBgColor;
		}

		@media screen and (max-width: 1366px) {
			font-size: $middleTextFontSize;
		}

		@media screen and (max-width: 800px) {
			font-size: $litleTextFontSize;
		}
	}
}