.fb-btn-cont {
    
    .fb-btn-icon--cont {
        position: fixed;
        top: 100px;
        left: 20px;
        width: 60px;
        height: 60px;
        padding: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 9999;
        background-color: #fff;
        border-radius: 100%;
        border: 1px solid #ccc;
        z-index: 9999;

        box-shadow: 0 20px 40px rgba(23,38,47,.3);
        transition: transform 330ms ease-out;

        .fb-btn-icon {
            font-size: 32px;
            transform: rotate(325deg) translateX(4px) translateY(-3px);
            color: #4e4e4e;
        }
    }

    .fb-btn-context {

        position: fixed;
        display: flex;
        justify-content: center;
        align-content: center;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 9998;

        background: #199dff8c;
        background: -webkit-linear-gradient(124deg, #199dff59 0%, #2da4fcb0 29%, #2fa6ffd4 59%, #37638491 100%);
        background: -o-linear-gradient(124deg, #199dff59 0%, #2da4fcb0 29%, #2fa6ffd4 59%, #37638491 100%);
        background: linear-gradient(214deg, #199dff59 0%, #2da4fcb0 29%, #2fa6ffd4 59%, #37638491 100%);


        .form-cont {
            align-self: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 15px;
        
            background: rgb(255,217,188);
            background: -webkit-linear-gradient(bottom left, rgba(255,217,188,1) 0%, rgba(255,193,144,1) 25%, rgba(145,131,255,1) 66%, rgba(101,82,255,1) 100%);
            background: -o-linear-gradient(bottom left, rgba(255,217,188,1) 0%, rgba(255,193,144,1) 25%, rgba(145,131,255,1) 66%, rgba(101,82,255,1) 100%);
            background: linear-gradient(to top right, rgba(255,217,188,1) 0%, rgba(255,193,144,1) 25%, rgba(145,131,255,1) 66%, rgba(101,82,255,1) 100%);
        
            form {
                width: 100%;
                max-width: 490px;
                padding: 95px 85px;
                padding-top: 105px;
                padding-bottom: 45px;
                border-radius: 15px;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
            }
        
            .in-lab {
                position: relative;
                display: block;
                height: 48px;
                cursor: text;
                margin-bottom: 40px;
        
        
                input {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    padding-left: 32px;
                    border: 0;
                    border-radius: 2px;
                    box-shadow: 0 2px 8px rgba(#000, 0.3);
                    transition: all .3s ease;
                    vertical-align: bottom;
                    font-size: 16px;

                    font-family: "OpenSansRegular";
                    font-size: 14px;
                    color: #6d6d6d;
        
                    &:focus,
                    &.filled {
                        height: 100%;
                        outline: none;
        
                        & + label {
                            position: absolute;
                            transform: translateY(-34px);
                            font-size: 12px;
                            color: rgba(#fff, 0.6);
                        }
        
                        & + label + .form-icon {
                            transform: translateY(0);
                            visibility: visible;
                            transition: transform .3s ease;
                        }
                    }
                }
        
                label {
                    color: #ddd;
                    line-height: 48px;
                    padding-left: 3px;
                    transform: translateY(0);
                    transition: all .3s ease;
                    pointer-events: none;
                    z-index: 1;
                }
        
                .form-icon {
                    position: absolute;
                    left: 10px;
                    top: 17px;
                    display: block;
                    visibility: hidden;
                    transform: translateY(10px);
                    color: #ddd;
                    z-index: 1;
                }
            }
            .area-lab {
                width: 100%;

                textarea {
                    margin-top: 0px;
                    margin-bottom: 0px;
                    height: 115px;
                    width: 100%;
                    font-family: "OpenSansRegular";
                    font-size: 14px;
                    color: #6d6d6d;
                    padding: 5px 5px;
                    display: block;
                    background: #ffffff40;
                    border: 0;
                    transition: all .3s ease;

                    &:focus {
                        border: 0;
                        outline: none;
                        box-shadow: 0 2px 8px rgba(#000, 0.3);
                    }
                }
            }

            .about-form-text {
                p {
                    font-family: "RobotoRegular";
                    font-size: 14px;
                    letter-spacing: -.4px;

                    a {
                        font-family: "RobotoRegular";
                        font-size: 14px;
                        letter-spacing: -.4px;
                        text-decoration: none;
                        text-transform: none;
                    }
                }
            }

            .submit-cont {
                .submit {
                    background-color: transparent;
                    border: 1px solid #1892ed;
                    border-radius: 25px;
                    padding: 10px 35px;
                    margin-top: 15px;
                    font-family: "RobotoRegular";
                    /* letter-spacing: -.02em; */
                    font-size: 16px;
                    font-weight: normal;
                    text-decoration: none;
                    text-transform: none;
                    transition: all .3s ease;
                    color: #6d6d6d;

                    &:hover {
                        background-color: $middleBlueBgColor;
                        color: #fff;
                        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }
    }
}