.pd-into-content {
	padding: 86px 14.5%;

	.c-content {
		display: flex;
		flex-direction: column;
		margin: 42px 0;

		.c-title {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 42px;

			.ms-title-h2 {
				color: $titleFontColor;
				padding: 0;
			}

			.c-desc {

				p {
					color: $textFontColor;
					font-family: "OpenSansRegular";
					font-size: 18px;
				    font-weight: normal;
				    letter-spacing: -.03em;
				    padding: 0;
				    margin: 0px;
				    margin-bottom: 15px;
				}
			}
		}

		.c-elems {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: flex-start;

			.item-cont {
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;

				.item-bg {
					background-size: cover;
				}

				.item-context {
					display: flex;
					flex-direction: column;

					.item-name {
						color: $titleFontColor;
						font-family: "RobotoRegular";
					}

					.item-category {
						color: $textFontColor;
						font-family: "OpenSansRegular";
					}

					.item-link {
						
						a {
							color: $textFontColor;
							font-family: "OpenSansRegular";
						}
					}
				}
			}
		}
	}
}