.container-production-catalog-page {
	position: relative;
	width: 100%;
	padding-right: 102px !important;
	padding-left: 211px !important;
	padding-top: 74px !important;
	height: 100%;

	.production-catalog-list {
		position: fixed;
		top: 0;
		left: 0;
		padding: 15px 10px;
		height: 100%;
		background-color: #1b1a23 !important;
	    box-shadow: 1px 1px 6px 0px #393740;
	    cursor: pointer;

		.production-catalog-list--item {
			position: relative;
		    background-repeat: no-repeat;
		    background-size: cover;
		    height: 15vh;
		    width: 15vh;
		    background-position: center;
		    margin: 20px 25px;
		    border-radius: 75px;

			.item--background-hover {
				opacity: 0;
			    position: absolute;
			    width: 100%;
			    height: 100%;
			    border-radius: 75px;
			    background: #63636369;
			    transition: .3s ease;
			}

		    .item--title {
		    	color: #fff;
			    font-family: "RobotoRegular";
			    font-size: 20px;
			    position: absolute;
			    bottom: 39%;
			    left: 24%;

			    &:before {
			        content: "";
				    position: absolute;
				    width: 25px;
				    height: 25px;
				    border-radius: 75px;
				    background-color: #2b2a2ab5;
				    top: 10%;
				    left: -40%;
				    opacity: 0;
				    transition: .4s ease;
			    }

			    &:after {
			    	content: "";
				    position: absolute;
				    width: 25px;
				    height: 25px;
				    border-radius: 75px;
				    background-color: #2b2a2ab5;
				    top: 10%;
				    right: -40%;
				    opacity: 0;
				    transition: .4s ease;
			    }
		    }

		   	&:hover .item--background-hover {
		   		opacity: 1;
		    }
		}
	}

	.production-catalog-display {
		
		color: black;

		.catalog-display--item {
			
			color: black;
			
			.p-catalog-display--item__title-block {

				padding: 15px 0px;
    			margin: 0px -15px;

				.p-catalog-display--item__title {
					color: $mainTextColor;
					font-size: $litleTItleFontSize;
					font-family: "RobotoRegular";
					text-decoration: none;
					text-transform: none;
				}
	
				.p-catalog-display--item__category-name {
					position: relative;
				    color: $lightTextColor;
				    font-size: 18px;
				    font-family: "RobotoRegular";
				    text-decoration: none;
				    text-transform: none;
				    padding: 1px 15px;

					&:before {
						content: "";
					    display: block;
					    position: absolute;
					    top: 0;
					    left: 0;
					    height: 100%;
					    width: 2px;
					    background-color: $mainTextColor;
					}
				}
			}

			.gradient-line-separator {
				position: relative;
			    background: linear-gradient(45deg, $lightTextColor, transparent, transparent);
			    width: 100%;
			    height: 1px;
			    display: block;
			}

			.p-catalog-display--item__info-block {

				color: black;
				
				.item__info-block--information {

					padding: 15px 0;

					.item__info-block--descriptor {

						color: $mainTextColor;
						font-family: "OpenSansRegular";
						font-size: $bigTextFontSize;
						text-decoration: none;
						text-transform: none;

						@media only screen and (max-width: 1366px) {
							font-size: $middleTextFontSize;
						}

						@media only screen and (max-width: 800px) {
							font-size: $litleTextFontSize;
						}

						p {
							letter-spacing: 0px;
							text-indent: 2.5%;
						}
					}

					.item__info-block--parameters {

						color: black;
					}

					.item__info-block--files {

						padding: 15px 0;
						margin: 0px 15px;

						.info-block--files__title {
							color: $mainTextColor;
							font-size: $bigTextFontSize;
							font-family: "OpenSansRegular";
							text-decoration: none;
							text-transform: none;

							@media only screen and (max-width: 1366px) {
								font-size: $middleTextFontSize;
							}

							@media only screen and (max-width: 800px) {
								font-size: $litleTextFontSize;
							}
						}

						.info-block--files__list {

							color: black;

							ul {

								list-style: none;

								li {

									display: block;

									a {
										color: #5768b4;
										font-family: "OpenSansRegular";
										font-size: 18px;
										text-decoration: none;
										text-transform: none;
										transition: .5s ease;
										font-weight: bold;

										@media only screen and (max-width: 1366px) {
											font-size: $middleTextFontSize;
										}

										@media only screen and (max-width: 800px) {
											font-size: $litleTextFontSize;
										}

										&:hover {
											color: #5768b469;
										}
									}
								}
							}
						}
					}
				}

				.item__info-block--image {
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					height: 420px;
					width: 370px;
				}
			}
		}
	}
}

.lack-information-block {
	background-color: #4f83de4d;
	color: $mainTextColor;
	font-size: $bigTextFontSize;
	font-family: "OpenSansRegular";
	text-decoration: none;
	text-transform: none;
	padding: 15px 10px;
	border-left: 5px solid #4f83de4d;

	@media only screen and (max-width: 1366px) {
		font-size: $middleTextFontSize;
	}

	@media only screen and (max-width: 800px) {
		font-size: $litleTextFontSize;
	}
}