.life-cycle__container {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-bottom: 86px;
    border: 0;

    .life_item-container {
        position: relative;
        display: flex;
        box-sizing: border-box;
        width: 100%;
        padding: 112px 0px;
        padding-left: 12.5% !important;
        padding-right: 12.5% !important;

        height: 100%;
        z-index: 10;

        @media only screen and (max-device-width: 1024px) {
            background-attachment: scroll;
        }
    }

    .revers-row {
        flex-direction: row-reverse !important;
    }

    .revers-text {
        text-align: left !important;
    }

    .revers-container {
        align-items: start !important; 
    }

    .revers-before {
        &:before {
            content: "";
            left: 0 !important;
        }
    }
    
    .row {
        align-items: center;
        justify-content: center;

        background-attachment: fixed;
        background-position: center 0;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .c-text-block {
        display: flex;
        position: relative;
        padding: 0px 52px;

        .c-bl-mask {
            /* filter mask for texts */
        }

        .c-bl-content {
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;

            .c-bl-ct-title {

                margin-bottom: .5em;
                padding: 0px 0px;
                max-width: 450px;

                h2 {
                    position: relative;
                    display: inline-block;
                    color: $titleFontColor;
                    margin-bottom: 1em;
                    font-family: "RobotoRegular";
                    font-size: 46px;
                    font-weight: 900;
                    line-height: 1;
                    text-align: right;
                    text-transform: uppercase;
                    letter-spacing: -.03em;
                    min-height: 60px;

                    span {
                        display: flex;
                        white-space: normal;
                        margin: 0;
                        padding: 0;
                        border: 0;
                        vertical-align: baseline;
                        color: inherit;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        bottom: -30px;
                        right: 0;
                        width: 90px;
                        height: 2px;
                        background-color: $lightRedColor;
                    }
                }
            }

            .c-bl-ct-paragraph {
                padding: 0px 0px;
                max-width: 550px;

                p {
                    color: $textFontColor;
                    font-family: "OpenSansRegular";
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 1.5;
                    text-align: right;
                }
            }
        }
    }

    .c-img-block {
        width: 500px;
    }
}