@font-face {
    font-family: "RobotoRegular";
    src: url("../public/fonts/Roboto/Roboto-Regular.ttf");
  }
  
  @font-face {
    font-family: "OpenSansRegular";
    src: url("../public/fonts/OpenSans/OpenSans-Regular.ttf");
  }
  
  $borderShadowColor: rgba(0,0,0,0.25);
  $mainForegroundColor: #2c2c2c;
  $whiteForegroundBrush: #fff;
  $lightGrayBorderColor: #ececec;
  $darkBlueColor: #1b1a23;
  $footerColor: #272532;
  $darkForegroundBrush: #635f76;

  $mainTextColor: #484848;
  $lightTextColor: #adacac;

  $middleBlueBgColor: #1892ed;
  $darkBlueBgColor: #193d9e;
  $titleFontColor: #17262f;
  $textFontColor: rgba(23, 38, 47, 0.8);
  $lightRedColor: #e6a65f;
  
  /* Title texts sizing */
  $bigTitleFontSize: 62px;
  $middleTitleFontSize: 52px;
  $litleTItleFontSize: 32px;
  
  /* Subtitle texts sizing */
  $bigSubtitleFontSize: 26px;
  $middleSubtitleFontSize: 22px;
  $litleSubtitleFontSize: 18px;
  
  /* Normal texts sizing */
  $bigTextFontSize: 18px;
  $middleTextFontSize: 16px;
  $litleTextFontSize: 13.5px;
  
  html, body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    position: relative;
  
    #root {
      position: relative;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
    }
  }
  
  ul {
    padding: 0;
    margin: 0;
  }

  .d-none {
    display: none !important;
  }

  .d-block {
    display: block !important;
  }

  .d-flex-container {
    display: flex !important;
  }

  .ms-title-h2 {
    padding-left: 12.5%;

    @media screen and (max-width: 1366px) {
      padding-right: 12.5%;
    }

    h2 {
      margin-bottom: -.05em;
      font-family: "RobotoRegular";
      font-size: 46px;
      font-weight: 900;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: -.03em;
      min-height: 60px;

      @media screen and (max-width: 1366px) {
        font-size: 38px;
      }

      @media screen and (max-width: 800px) {
        font-size: 32px;
      }

      span {
        white-space: nowrap;
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
        color: inherit;
      }
    }    
  }

  .ms-desc-1 {
    padding-left: 12.5%;
    margin-bottom: 5.5em;

    @media screen and (max-width: 1366px) {
      padding-right: 12.5%;
      margin-bottom: 1.5em;
    }

    p {
      font-family: "OpenSansRegular";
      font-size: 20px;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 1.5em;

      @media screen and (max-width: 1366px) {
        font-size: 18px;
      }

      @media screen and (max-width: 800px) {
        font-size: 16px;
      }
    }
  }

  .p-fixed {
    position: fixed !important;
  }
  
  header {
    flex: 0 0 auto;
    border-style: solid;
    border-color: $lightGrayBorderColor;
    border-width: 0px;
    transition: .5s ease;
    position: absolute;
    top: 200px;
    width: 100%;
    z-index: 1;
  
    .title-logo {
      font-family: RobotoRegular;
      letter-spacing: 5px;
      font-size: 32px;
      width: 165px;
      margin: 25px auto;
      opacity: 0;
      transition: .5s ease;
    }
  
    .navbar {
      padding: 30px 0;
      margin: 0px;
      transition: .5s ease;
    }
  
    .nav {
      flex-direction: row;
    }
  
    .nav a {
      margin-left: 15px;
      margin-right: 15px;
  
      background: transparent;
      color: $lightGrayBorderColor;
      font-family: RobotoRegular;
    }
  
    .nav .nav-item:after {
      content: '';
      background: black;
      display: block;
      bottom: 0; 
      left: 0;
      width: 0;
      height: 1px;
      transition: .5s ease;
    }
  
    .nav .active > .nav .nav-item:after {
      width: 100%;
    }

    .dropdown-panel {
      position: relative;
      color: black;

      &:hover .dropdown-menu-panel {
        display: block;
      }

      .dropdown-menu-panel {
        position: absolute;
        display: none;
        background-color: #272532;
        border-top: 1px solid #635f76;
        top: 144%;
        width: 310px;
        padding: 10px 5px;
        right: -32%;
      }
    }
  
    .vertical-separator {
      width: 1px;
      background-color: $lightGrayBorderColor;
      opacity: 0;
      transition: .5s ease;
    }
  
    .language-button {
      margin: 30px 0;
  
      .dropdown {
        margin: 0 auto;
  
        button {
          color: $darkForegroundBrush;
          background-color: transparent;
          border-color: $lightGrayBorderColor;
          border-width: 1px;
  
          &:hover {
            box-shadow: none;
            background-color: $lightGrayBorderColor;
          }
  
          &:focus {
            box-shadow: none !important;
            background-color: $lightGrayBorderColor !important;
            border-color: $darkForegroundBrush !important;
            color: $darkForegroundBrush !important;
          }
        }
      }
    }
  }

  .header-active-scroll {
    position: fixed !important;
    top: 0 !important;
    z-index: 9999 !important;
    width: 100% !important;
    background-color: #1b1a23 !important;
    border-color: #635f76 !important;
  }

  .header-navbar--active-scroll {
    padding: 10px 0 !important;
  }

  .header-nav-link--active-scroll {
    color: #fff !important;
  }

  .header-title-logo--active-scroll {
    margin: 7px auto !important;
    color: #fff !important;
    opacity: 1 !important;
  }

  .header-vertical-separator--active-scroll {
    background-color: #635f76 !important;
    opacity: 1 !important;
  }
  
  .header-spacing-top {
    padding-top: 30px;
  }
  .header-spacing-bottom {
    padding-bottom: 30px;
  }
  .header-spacing-left {
    padding-left: initial;
  }
  .header-spacing-right {
    padding-right: initial;
  }
  
  .content {
    flex: 1 0 auto;
    min-height: 1000px;
    transition: 1s ease-in-out;
  }
  
  .hyphenate {
    word-wrap: break-word;
  }
  
  .home-page {
    position: relative;
    height: 100%;
  
    .space-photo {
      background-image: url("../public/images/header-image.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100vh;
      width: 100%;
      position: relative;
      box-shadow: 0px 4px 12px 0px #5f5f5f;
  
      .dynamic-point {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 2;
      }
  
      .title-container {
        position: absolute;
        bottom: 30%;
        left: 5%;
        width: auto;
        height: auto;
  
        .title-text-middle {
          color: $whiteForegroundBrush;
          font-family: RobotoRegular;
          font-size: $bigSubtitleFontSize;
  
          @media screen and (max-width: 1366px) {
            font-size: $middleSubtitleFontSize;
          }
          @media screen and (max-width: 800px) {
            font-size: $litleSubtitleFontSize;
          }
        }
  
        .title-text-high {
          color: white;
          font-family: RobotoRegular;
          font-size: $bigTitleFontSize;
  
          @media screen and (max-width: 1366px) {
            font-size: $middleTitleFontSize;
          }
          @media screen and (max-width: 800px) {
            font-size: $litleTItleFontSize;
          }
        }
  
        hr {
          color: #000;
          background: white;
          max-width: 300px;
          margin: 15px 0px;
          padding: 0;
        }
  
        .subtitle-text {
          color: #c7c7c7;
          font-family: RobotoRegular;
            font-size: $bigTextFontSize;
            
            @media screen and (max-width: 1366px) {
              font-size: $middleTextFontSize;
            }
            @media screen and (max-width: 800px) {
              font-size: $litleTextFontSize;
            }
        }
      }
  
      .start-button-container {
        position: absolute;
        bottom: 65px;
        left: 50%;
        width: auto;
        height: auto;
        margin: 0 auto;
  
        .start-button-link {
          padding: 15px;
          border-style: solid;
          border-width: 1px;
          border-color: rgb(69, 96, 175);
          border-radius: 50px;
          text-decoration: none;
  
          .start-button-icon {
            font-size: 32px;
            color: rgb(69, 96, 175);
            vertical-align: -0.325em !important;
          }
  
          &:before, &:after {
            content: '';
            position: absolute;
            border: 1px solid #29AEE3;
            left: -10px;
            right: -10px;
            top: -21px;
            bottom: -20px;
            border-radius: 50%;
            animation: pulse 1.6s linear infinite;
            opacity: 0;
          }
  
          &:after {
            animation-delay: .5s;
          }
        }
      }
    }
    

    /* Start information block styles */
    .m-cont-pos {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .in-ab-cont {

      padding: 86px 12.5%;

      .row {
        width: 100%;

        @media screen and (max-width: 1366px) {
          flex-direction: column-reverse;
        }
      }

      .l-pos {

        .in-b-profit {

          width: 83.6666%;
          order: 1;
          transition: opacity .25s ease,box-shadow .5s ease,-webkit-transform .25s cubic-bezier(.19,1,.22,1);
          transition: opacity .25s ease,transform .25s cubic-bezier(.19,1,.22,1),box-shadow .5s ease;
          transition: opacity .25s ease,transform .25s cubic-bezier(.19,1,.22,1),box-shadow .5s ease,-webkit-transform .25s cubic-bezier(.19,1,.22,1);
          margin: auto;
          margin-left: 0;

          &:hover {
            webkit-transform: rotateX(var(--mouseY)) rotateY(var(--mouseX)) translateZ(15px);
            transform: rotateX(var(--mouseY)) rotateY(var(--mouseX)) translateZ(15px);
            box-shadow: 0 20px 40px rgba(23,38,47,.3);
          }

          @media screen and (max-width: 1366px) {
            width: 100%;
          }

          ul {

            box-sizing: border-box;
            background-color: #fff;
            border: 1px solid #d7e5f5;
            padding-top: 27px;
            padding-bottom: 27px;
            padding-right: 20px;
            list-style: none;

            @media screen and (max-width: 1366px) {
              padding-right: 0;
            }

            li {

              margin-bottom: 45px;
              overflow: hidden;
              display: flex;
              align-items: center;

              &:last-child {
                margin-bottom: 0px;
              }

              span {
              
              font-family: "OpenSansRegular";
              font-feature-settings: normal;

                &:first-child {
                  font-size: 110px;
                  min-width: 150px;
                  margin-left: -.4ch;
                  margin-top: -.1em;
                  margin-right: 60px;

                  color: rgba(0, 144, 240, .1);
                  font-weight: 700;
                  letter-spacing: 2px;

                  @media screen and (max-width: 1366px) {
                    font-size: 70px;
                    min-width: 70px;
                  }

                  @media screen and (max-width: 800px) {
                    font-size: 60px;
                    min-width: 65px;
                    margin-top: -0.3em;
                    margin-right: 45px;
                  }
                }

                &:last-child {
                  font-size: 20px;
                  max-width: 300px;
                  position: relative;
                  padding-bottom: 45px;

                  display: block;
                  color: $textFontColor;
                  font-weight: 400;
                  letter-spacing: .1px;
                  line-height: 1.5;

                  @media screen and (max-width: 1366px) {
                    font-size: 18px;
                    max-width: 100%;
                  }

                  @media screen and (max-width: 800px) {
                    font-size: 16px;
                  }

                  &:before {
                    content: "";
                    background-color: $lightRedColor;
                    position: absolute;
                    display: block;
                    width: 60px;
                    height: 2px;
                    bottom: 19px;
                    left: 0;                  
                  }
                }
              }
            }
          }
        }
      }
      .r-pos {
          .in-b-about {
            position: relative;
            z-index: 5;
            order: 2;
            width: 100%;
            box-sizing: border-box;
            padding-left: 8.3333%;
            padding-right: 8.3333%;

            h2 {
              color: $titleFontColor;
              margin-bottom: 1em;
              font-family: "RobotoRegular";
              font-size: 46px;
              font-weight: 900;
              line-height: 1;
              text-decoration: uppercase;
              letter-spacing: -.03em;
              min-height: 60px;

              @media screen and (max-width: 1366px) {
                font-size: 42px;
              }

              @media screen and (max-width: 800px) {
                font-size: 38px;
              }

              span {
                white-space: nowrap;
                margin: 0;
                padding: 0;
                border: 0;
                vertical-align: baseline;
                color: inherit;
              }
            }

            p {
              color: $textFontColor;
              font-family: "OpenSansRegular";
              font-size: 20px;
              font-weight: 400;
              line-height: 1.5;
              margin-bottom: 3em; 

              @media screen and (max-width: 1366px) {
                font-size: 18px;
              }

              @media screen and (max-width: 800px) {
                font-size: 16px;
              }

              small {
                color: $textFontColor;
                font-size: .8em;
                font-weight: 400;
                letter-spacing: .08px;

                margin: 0;
                padding: 0;
                border: 0;
                vertical-align: baseline;
              }

              a {
                font-size: 20px;
                color: $middleBlueBgColor;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: .1px;
                text-decoration: none;
              }
            }
          }
        }
    }
  }
  
  .sc-container {

    background: rgb(25,157,255);
    background: -webkit-linear-gradient(124deg, rgba(25,157,255,1) 0%, rgba(45,164,252,1) 29%, rgba(47,166,255,1) 59%, rgba(128,198,250,1) 100%);
    background: -o-linear-gradient(124deg, rgba(25,157,255,1) 0%, rgba(45,164,252,1) 29%, rgba(47,166,255,1) 59%, rgba(128,198,250,1) 100%);
    background: linear-gradient(214deg, rgba(25,157,255,1) 0%, rgba(45,164,252,1) 29%, rgba(47,166,255,1) 59%, rgba(128,198,250,1) 100%);
    padding-top: 3.5%;
    padding-bottom: 4.5%;
    padding-left: 0 !important;
    padding-right: 0 !important;

    @media screen and (max-width: 1366px) {
      padding-top: 12.5%;
    }

    @media screen and (max-width: 800px) {
      padding-top: 12.5%;
    }

    .sc-info-title {
      h2 {
        color: #fff;
      }
    }

    .sc-info-desc {
      p {
        color: #fff;
      }
    }
    
    .sc-element {

      padding: 42px 0;
      box-shadow: 0px 8px 21px -16px #fff;

      @media screen and (max-width: 1366px) {
        margin: 25px 15px;
        min-height: 295px
      }

      @media screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
        max-width: 375px;
        margin: 25px auto;
      }

      p {
        margin: 0;
        padding: 0;
        text-align: center;
      }

      .sc-elem-icon {
        color: $lightRedColor;
        font-size: 42px;

        @media screen and (max-width: 1366px) {
          font-size: 40px;
        }

        @media screen and (max-width: 800px) {
          font-size: 38px;
        }
      }

      .sc-elem-title {
        position: relative;
        color: #fff;
        font-family: "RobotoRegular";
        font-weight: 900;
        font-size: 20px;
        letter-spacing: .03em;
        line-height: 32px;


        @media screen and (max-width: 800px) {
          font-size: 18px;
        }

        &:before {
          content: "";
          background-color: $lightRedColor;
          position: absolute;
          left: 50%;
          bottom: -13px;
          margin-left: -30.5px;
          width: 60px;
          height: 2px;
        }
      }

      .sc-elem-desc {
        color: #fff;
        font-family: "OpenSansRegular";
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;

        @media screen and (max-width: 1366px) {
          padding: 15px 25px;
        }

        @media screen and (max-width: 800px) {
          font-size: 16px;
          padding: 0 25px;
        }
      }
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }
  
  .footer {
    flex: 0 0 auto;
    padding: 145px 0;
    padding-bottom: 0 !important;
    box-shadow: 0px 5px 20px 0px #ffecec;
    background-color: #fff;

    .context {
      padding: 0px 12.5%;
    }

    .none {
      display: none;
    }
  
    ul li {
      margin: 5px 0;

      @media screen and (max-width: 800px) {
        justify-content: center
      }
    }
  
    ul .nav-link {
      padding: 0 !important;
      margin: 5px 0 !important;
    }
  
    h6 {
      font-size: 20px;
      font-family: RobotoRegular;
      color: $titleFontColor;

      @media screen and (max-width: 1366px) {
        font-size: 18px !important;
      }

      @media screen and (max-width: 800px) {
        font-size: 18px !important;
      }
    }
  
    p {
      font-size: 20px;
      font-weight: normal;
      font-family: OpenSansRegular;
      color: $textFontColor;

      @media screen and (max-width: 1366px) {
        font-size: 18px !important;
      }

      @media screen and (max-width: 800px) {
        font-size: 16px !important;
      }
    }
  
    a {
      font-size: 18px;
      font-weight: normal;
      font-family: OpenSansRegular !important;
      text-decoration: none;
      line-height: 1.5em;
      color: $textFontColor;

      @media screen and (max-width: 1366px) {
        font-size: 16px !important;
      }

      @media screen and (max-width: 800px) {
        font-size: 14px !important;
      }
    }
  
    div {
      font-size: 18px;
      font-weight: bold;
      font-family: RobotoRegular;
      color: $titleFontColor;

      @media screen and (max-width: 1366px) {
        font-size: 16px !important;
      }

      @media screen and (max-width: 800px) {
        font-size: 14px !important;
      }
    }
  
    #footer__element-separator {
      width: 150px;
      margin-left: 0;
      color: $lightRedColor;
      border-color: $lightRedColor;

      @media screen and (max-width: 800px) {
        margin-left: auto;
      }
    }

    .footer__item {
      @media screen and (max-width: 800px) {
        text-align: center;
      }
    }
  
    .footer__item_company h6 {
      font-size: 42px !important;
      color: $titleFontColor;

      @media screen and (max-width: 1366px) {
        font-size: 38px !important;
      }

      @media screen and (max-width: 800px) {
        font-size: 32px !important;
      }
    }
  
    .footer__item_company p {
      color: $textFontColor;
    }
  }
  
  @media (max-width: 990px) {
    .footer__item:first-child {
      margin-bottom: 40px;
    }
    .footer__item:first-child h6,
    .footer__item:first-child p {
      text-align: center !important;
    }
    .footer__item:first-child hr {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
  
  @media (max-width: 575px) {
    .footer__item {
      margin-bottom: 40px;
    }
  }
  
  .copyright {
    width: 100%;
    margin-top: 85px;
    padding: 20px 0;
    background: #199dff;
    background: -webkit-linear-gradient(124deg, #199dff 0%, #2da4fc 29%, #2fa6ff 59%, #80c6fa 100%);
    background: -o-linear-gradient(124deg, #199dff 0%, #2da4fc 29%, #2fa6ff 59%, #80c6fa 100%);
    background: linear-gradient(214deg, #199dff 0%, #2da4fc 29%, #2fa6ff 59%, #80c6fa 100%);
  
    div {
      text-align: center;
      color: #fff;
      font-family: RobotoRegular;
      font-weight: normal;
      font-size: 16px;

      @media screen and (max-width: 1366px) {
        font-size: 14px;
      }

      @media screen and (max-width: 800px) {
        font-size: 12px;
      }
    }
  }

  .ymap-container {
    width: 100%;
    height: 85vh;
    padding: 0 !important;

    .yandex-map {
      position: relative;
      display: block;
      width: inherit;
      height: inherit;
    }
  }
  
  @import "components/blocks/home/LifeCycle/lifeCycleStyle.scss";
  @import "components/blocks/home/Feedback/feedback-styles.scss";
  @import "components/elements/MaterialInput/MaterialInputStyles.scss";
  @import "components/elements/ProductCard/ProductCardStyle.scss";
  @import "components/pages/history/history.scss";
  @import "components/pages/productions/productions-style.scss";
  @import "components/pages/productions/subs/subproductions-style.scss";
  @import "components/blocks/home/Products/products.scss";
  @import "components/blocks/home/Licences/licences.scss";